* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #161616;
    font-family: "Monument";
    color: #fff;
    user-select: none;
}


/*  scrollbar */

::-webkit-scrollbar {
    display: none;
}

h3 {
    position: absolute;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: lighter;
    color: white !important;
    margin: 20px;
}

.percent {
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 75px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    height: 140px;
    width: 1px;
}

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: background 0.15s ease;
}


/* navbar */

.site-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    font-size: 24px;
    line-height: 100px;
    text-transform: uppercase;
}

.navbar {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 100px;
}

.site-menu {
    display: flex;
}

.menu-item-link {
    font-family: "Monument";
    color: grey;
    margin-left: 60px;
}

.menu-item-link a {
    cursor: none;
    color: grey;
    text-decoration: none;
}

.menu-item-link:hover a {
    transition: 0.4s;
    text-decoration: none;
    color: white;
}

.menu-item-link.active a {
    text-decoration: underline;
}


/* container projects */

.container {
    margin-top: 200px;
    margin-left: 500px;
}

.container-item {
    position: relative;
    width: 540px;
    height: 360px;
    margin: 50px 500px 20px 80px;
}

.container-item-header h1 {
    position: relative;
    left: 40px;
    bottom: -40px;
    width: 600px;
    height: 360px;
    font-family: "GrandSlang Roman";
    font-weight: lighter;
    font-size: 100px !important;
    color: #fff;
}

.container-item-title a {
    color: #fff;
    text-decoration: none;
}

.container-item h1 {
    position: absolute;
    left: 40px;
    bottom: -40px;
    font-family: "GrandSlang Roman";
    font-weight: lighter;
    font-size: 64px;
    color: #fff;
}

.container-item-1 {
    background: url("images/img-one.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.container-item-2 {
    background: url("images/img-two.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.container-item-3 {
    background: url("images/img-three.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.container-item-4 {
    background: url("images/img-four.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.container-item-5 {
    background: url("images/img-five.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

@media(max-width: 900px) {
    .container-item {
        width: 300px;
        height: 200px;
        margin: 50px 100px 20px 80px;
    }
    .container-item-header h1 {
        font-size: 40px !important;
        left: -50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
    .container-item h1 {
        font-size: 40px;
        bottom: -30px;
    }
}


/* about page styles */

#js-scroll {
    height: 200%;
}

.about__container {
    width: 50%;
    margin: 180px 0 100px 100px;
    padding: 40px;
    /* border: 1px solid #525252; */
}

.about__container p {
    margin: 60px 0;
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    z-index: 2;
}

.about__container p span {
    font-family: "GrandSlang Roman";
}

.about__container-contact-link a {
    color: #fff;
}

p.about__container-link {
    font-size: 26px;
}

.about__container-link a {
    color: #fff;
    font-size: 26px;
}

.cursor-follow {
    position: absolute;
    background: url(images/hover.jpeg) no-repeat 50% 50%;
    background-size: cover;
    width: 300px;
    height: 400px;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    transform: translate(5px, 5px);
}

@media(max-width: 900px) {
    .about__container {
        width: 70%;
        margin: 140px 0 60px 40px;
    }
    .cursor-follow {
        display: none;
    }
    .site-info {
        display: none;
    }
    .navbar {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
    }
}