* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #161616;
    font-family: "Monument";
    color: #fff;
    overflow: hidden;
    user-select: none;
}


/* scrollbar */

::-webkit-scrollbar {
    display: none;
}


/* cursor */

.cursor,
.follow {
    position: absolute;
    pointer-events: none;
    width: 0.4rem;
    height: 0.4rem;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.cursor {
    background-color: white;
    border-radius: 100%;
    display: none;
}

.follow {
    padding: 2rem;
    border: 0.1rem solid white;
    transition: all 0.2s ease-out;
    border-radius: 100%;
}

.follow.on-focus {
    transform: translate(-0.55rem, -0.55rem);
    border: 0.1rem solid white;
    border-radius: 0%;
    padding: 0.46rem;
}


/* navbar */

.site-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    font-size: 24px;
    line-height: 100px;
    text-transform: uppercase;
}

.navbar {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 100px;
    z-index: 4;
}

.site-menu {
    display: flex;
}

.menu-item {
    font-family: "Monument";
    margin-left: 60px;
    color: grey;
}

.menu-item a {
    cursor: none;
    color: grey;
    text-decoration: none;
}

.menu-item:hover a {
    transition: 0.4s;
    text-decoration: none;
    color: white;
}

.menu-item.active a {
    text-decoration: underline;
}

.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 20%;
    padding: 40px;
    text-transform: uppercase;
    font-size: 40px;
}

.header-left span {
    font-family: Arial, Helvetica, sans-serif;
}


/* hero */

.wrapper {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hero-title {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Monument";
    font-size: 60px;
    z-index: 1;
}

.hero-title .letter {
    display: inline-block;
    opacity: 0;
}


/* components */

.content {
    width: 70%;
    margin: 100vh auto;
}

section {
    transition: transform 0.25s;
    will-change: transform;
}

h2 {
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 10px;
}

p {
    font-weight: lighter;
    color: rgba(255, 255 255, 0.4);
    font-size: 16px;
    line-height: 30px;
}

section img {
    width: 100%;
    height: 500px;
}

section div {
    margin-bottom: 80px;
}

@media (max-width: 900px) {
    .site-info {
        display: none;
    }
    .navbar {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
    }
    .wrapper {
        width: 500px;
        height: 300px;
        position: absolute;
        top: 70%;
        left: 70%;
    }
    .hero-title {
        position: absolute;
        top: 60%;
        left: 30%;
        font-size: 40px;
    }
    .header {
        font-size: 25px;
    }
    .header .header-right {
        font-size: 30px;
        position: absolute;
        top: 70%;
        left: 50%;
    }
}